@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradient 8s linear infinite;
  }

  .bg-grid-pattern {
    background-image: linear-gradient(to right, rgba(250, 204, 21, 0.1) 1px, transparent 1px),
                      linear-gradient(to bottom, rgba(250, 204, 21, 0.1) 1px, transparent 1px);
    background-size: 24px 24px;
  }
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}